.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 800px) {
        width: 100%;
        align-items: center;

        button {
            margin: 0 10px;
            min-width: 120px;
            padding: 0 10px;
        }
    }
    
}