.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
  
    .title {
        margin: 10px 0;
    }

    @media screen and (max-width: 800px) {
        width: 100%;
        align-items: center;

        .button {
            margin: 0 auto;
        }
    }
}
  